<%= render 'shared/content_title', title: "Edit Profile" %>

<%= render 'shared/validation_error', object: @user %>

<div class="alert alert-info">
  You can update your 'username' without the need to change the password.
  <a class="close" data-dismiss="alert">&#215;</a>
</div>

<%= render 'user' %>
