<div class="well">
  <p><%= comment.body %></p>
  <span class="quiet">comment by </span><%= link_to comment.user.username, user_path(comment.user.id) %>
  <small>at <%= pretty_date_time(comment.created_at) %></small><br/>
  <%= additional_stuff %>
</div>
