<% show_comment_post ||= false %> <!-- this sets this var as a default to false (if no value is passed to it) -->

<div class="well">
  <p>
    <%= comment.body %> <span class="quiet">
    <% if show_comment_post %>
      on</span> <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
  </p>
  <br/>
  <span class="quiet">comment by </span><%= link_to comment.user.username, user_path(comment.user.id) %>
  <small>at <%= pretty_date_time(comment.created_at) %></small>
</div>
