<div class="well">
  <p><%= comment.body %></p>
  <span class="quiet">comment by </span><%= comment.user.username %>
  <small>at <%= pretty_date_time(comment.created_at) %></small><br/>
  <%= additional_stuff %>
</div>
