<%= render 'shared/content_title', title: "Edit Your Post" %>

<% if @post.errors.any? %>
  <ul class="alert alert-error alert_message">
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= render 'form', action_description: "Edit Post" %>
